/* CSS BY NAME [Ethan Consolini] */

/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair Display;
}

/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    
}

/* GLOBAL STYLES (mobile first/small) */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 1rem 0;
    background-color: var(--midnight-blue);
}
p{
    padding: 0 2%;
    line-height: 1.6;
}
header{
    color: var(--soft-white);
    text-align: center;
    background-color: var(--midnight-blue);
    padding: 1rem 0 0.5rem;
}
header p{
    padding-bottom: 1rem;
}
h1{
    font-size: 2rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}
h2{
    padding-left: 2%;
    padding-right: 2%;
}
nav, main{
    margin-left: 0;
    margin-right: 0;
}
nav{
    background-color: #E5C185;
    color: #1F2A44;
    text-align: center;
}
nav ul{
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
    text-align: center;
}
main{
    background-color: white;
    margin: 0 auto;
}
section{
    margin-bottom: 2rem;
}
#Offerings section{
    background-color: #76885B;
    color: white;
}
#Gallery img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
}
#Gallery div{
    background-color: #76885B;
    color: white;
    padding: 2rem;
    display: grid;
}
button{
    display: block;
    margin: 0 auto 2rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #76885B;
}
footer{
    text-align: center;
    font-size: 0.9rem;
    color: white;
    padding: 2rem;
}
/* MEDIA QUERY (medium) */

@media (min-width:600px){
    body{
        padding: 0 2rem;
    }
}

/* MEDIA QUERY (large) */

@media (min-width: 992px){
    header h1{
        font-size: 2.5rem;
    }
    nav ul {
        gap: 2rem;
    }
}

/* MEDIA QUERY (xl) */

@media (min-width: 1200px){
    body{
        padding: 0;
    }
    button{
        font-size: 1.1rem;
    }
}