/* CSS BY NAME [Ethan Consolini] */

/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair Display;
}

/* ROOT VARIABLES */
:root{
    --primary-color: #333;
}

/* GLOBAL STYLES (mobile first/small) */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 0;
}
p{
    padding-left: 2%;
    padding-right: 2%;
}
header{
    color: white;
    align-content: center;
    text-align: center;
    background-color: #1F2A44;
}
h1{
    font-size: 2rem;
    margin-top: 0.5rem;
}
nav{
    background-color: #E5C185;
    color: #1F2A44;
    text-align: center;
}
nav ul{
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0.5 rem 0;
    text-align: center;
}
main{
    background-color: white;
}

/* MEDIA QUERY (medium) */

@media (min-width:600px){
    body{
        padding: 0 2rem;
    }
}

/* MEDIA QUERY (large) */

@media (min-width: 992px){
    header h1{
        font-size: 2.5rem;
    }
    nav ul {
        gap: 2rem;
    }
}

/* MEDIA QUERY (xl) */

@media (min-width: 1200px){
    body{
        padding: 0;
    }
    button{
        font-size: 1.1rem;
    }
}